*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.8vw;
}
.boxcenter{
    width: 75%;
    margin: 0 auto;
}
.row{
    text-align: center;
    /* float: right; */
    width: 100%;

}
.padding-l{
    padding-left: 10px;
}
.margin-b{
    margin-bottom: 20px;
}
.margin-b10{
    margin-bottom: 10px;
}
.margin-r{
    margin-right: 2%;
}
.demo{
    background-color: black;
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    border: 1px cyan solid;
    color: blue;
    border-radius: 5px;
}
.header h1{
    margin: 20px;
    font-size: 1.2vw;
}
.menu{
    background-color: black;
    border: 1px gray solid;
    color: white;
    border-radius: 5px;

}
.menu ul{
    padding: 0px 15px;
}
.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}
.menu ul li a{
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: white;
    font-size: 0.8vw;
}
/* .boxtrai{
    float: left;
    width: 74%;
} */
.boxphai{
    padding-right: 30px;
    float: right;
    width: 95%;
}
.boxtitle{
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border: 1px #CCC solid;  
}
.boxcontent{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

/* box tài khoản*/
.formtk{
    line-height: 150%;
}

.formtk input[type="email"],
.formtk input[type="text"],
.formtk input[type="password"],
.formcontent input[type="text"]{
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formtk input[type="checkbox"]{
    border-radius: 5px;
}

.formtk input[type="reset"],
.formtk input[type="submit"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formcontent input[type="button"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #CCC solid;
}

.formtk input[type="reset"]:hover,
.formtk input[type="submit"]:hover,
.formcontent input[type="submit"]:hover,
.formcontent input[type="reset"]:hover,
.formcontent input[type="button"]:hover{
    background-color: #CCC;
}

.formtk li a{
    color: teal;
    text-decoration: none;
}
.formtk li a:hover{
    color: #666;
    text-decoration: underline;
}

/*menu dọc*/ 
.menudoc ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menudoc ul li{
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px #CCC solid;
}
.menudoc ul li a{
    color: #666;
    text-decoration: none;

}
.menudoc ul li:hover{
    background-color: #CCC;
}
.searchbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px #CCC solid;
    border-radius: 5px;
}


.boxcontent-mid{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    background-color: #FFF;
}
.boxfooter{
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-left: 1px #CCC solid;  
    border-right: 1px #CCC solid;  
    border-bottom: 1px #CCC solid;  
}
.banner{
    min-height: 300px;
    width: 100%;
    text-align: center;
}
.banner img{
    height: 300px;
}
.boxsp{
    float: left;
    width: 32%;
    min-height: 280px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.boxsp p{
    font-size: 27px;
    padding-left: 30px;
    height: 175px;
}
.boxsp a{
    font-weight: 400;
    font-size: 15px;
    /* padding-left: 30px; */
    margin-left: 30px;
}
.boxsp .img{
    min-height: 190px;
    text-align: center;
    padding-right: 30px;
    display: relative;
}
.img img{
    width: 85%;
    height: 190px;
}
.top10 img{
    width: 25%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #EEE solid;
}
.top10 a{
    color: #666;
    text-decoration: none;
    margin-left: 5px;
    /* display: inline-block; */
}
.top10 a:hover{
    color: #000;
    text-decoration: underline;
}
.footer{
    background-color: aquamarine;
    border: 1px cyan solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}




/* ADMIN */
.headeradmin{
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}
.headeradmin h1{
    font-size: 2vw;
}
.formtitle{
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}
.formcontent{
    padding: 20px 0px;
}
.formds table{
    width: 100%;
    border-collapse: collapse;
}
.formds table th{
    padding: 20px;
    background-color: #CCC;
}
/* .formds table th:nth-child(2){
    background-color: #CCC;
    width: 30%;
}
.formds table th:nth-child(3){
    background-color: #CCC;
    width: 40%;
}
.formds table th:nth-child(4){
    background-color: #CCC;
    width: 20%;
} */
.formds table td{
    padding: 10px 20px;
    border: 1px #CCC solid;
    
}
.spct{
    text-align: center;
}
.spct img{
    width: 40%;
}
.thongbao{
    color: red;
    font-weight: 700;
    font-size: 15px;
}
.binhluan table{
    width: 90%;
    margin-left: 5%;
}
.binhluan table td{
    font-size: 15px;
}
.binhluan table td:nth-child(1){
    width: 20%;
}
.binhluan table td:nth-child(2){
    width: 50%;
}
.binhluan table td:nth-child(3){
    width: 25%;
}
.btnaddtocart{
    padding-top: 5px;
    padding-left: 30px;
}
.cart{
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0;
    text-align: center;
}
.cart table{
    width: 100%;
    border: 1px black solid;
    border-collapse: collapse;
}
.cart table th{
    border: 1px black solid;
    padding: 15px;
    background-color: #CCC;
}
.cart table td{
    border: 1px black solid;
    font-size: 15px;
}
.cart table td:nth-child(1){
    width: 22%;
}
.cart table td:nth-child(2){
    width: 25%;
}
.cart table td:nth-child(3){
    width: 25%;
}
.row h2{
    font-size: 30px;
}
.info li{
    font-size: 17px;
}
.billform td{
    font-size: 17px;
    padding-left: 165px;
}
.spcl{
    min-height: auto;
}
.spcl a{
    font-size: 15px;
    margin: 5px;
}





























/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img{
    height: 320px;
  }
  /* Next & previous buttons */
  .prev{
    left: 0;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }





